extends ../layout
block append mixins
  include ../includes/mixins/jobs/timelineCard.pug
block content
    .fixed-top
        include ../includes/generic/nav.pug
     
    .relleno(style="height:100px")       
    .container
        .row.row-cols-1.row-cols-md-1.g-3
            each job in jobList  
                +jobCard(job)
        