*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", "Roboto" ,Tahoma;
  font-size: 101%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body{
  max-width: 100% !important;
}
.rocksalt{
  font-family: 'Rock Salt', cursive,Tahoma;
  font-size: 1.5em !important;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  transition: all .5s;
}
.rocksalt:hover{
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}
.ch-100{
  min-height: 100vh;
  height: calc(100vh) !important;
}
.h-100-topmenu{
  min-height: 90vh;
  height: calc(100vh - 72px) !important;
}
h1{
  border-bottom: 1px dashed #3b3b3b ;
}
a {
  color: #00B7FF;
}

/* GRAFICAS amcharts.com */

#chartdiv {
  display: block;
  width: 100%;
  height: 80vh;
  margin-bottom: 10px;
}
/* EXPERIENCIAS */
.timelineCards:first-child .card-header{
  background-color: rgb(30, 102, 78) !important;
}
/* FORM */

textarea {
	resize: none;
}

/* DIV CON FONDO DE IMAGEN */

div#generic-header.bg-image{
  /*background-image: url('/images/bg/craneo.webp');*/
  background-image: url('/images/bg/laptop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#generic-header.bg-image > .mask {
  backdrop-filter: blur(2px);
  background-color: rgba(24, 24, 24, 0.7);
  
}
div#generic-header.bg-image > .mask *{
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.9);
}

/* ESTILOS TARJETAS */

#employment-history .card-header{
  text-shadow: 5px 5px 6px rgba(19, 95, 70, 0.9);
}


/* DESCRIPTION */
#profesional-profile.d-md-block, .badgePeriod{
  background-color: rgb(168, 142, 122);
  color: black;
}

/* SIDEBAR PHOTO */
.container-fluid.sticky-top.ch-100 img.rounded-circle:hover{
  transition: all .2s ease-in-out;
}
.container-fluid.sticky-top.ch-100 img.rounded-circle:hover{
  box-shadow: 0px 15px 30px rgba(21, 31, 32,.5);
}

/* FOOTER */
footer{
  background-color: rgb(24, 24, 24);
}

.mb-0{
  margin-bottom: 0px;
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #chartdiv {
    display: none !important;
  }
}