mixin educationCard(level)
    .card.my-3.w-100.px-3.py-1
        .row.g-0
            .d-none.d-sm-inline.col-xs-12.col-sm-2.p-4.pl-6
                if level.instituteLogo
                    img.img-responsive.w-50(src="#{level.instituteLogo}" alt='...')
                else
                    img.img-responsive.w-50(src='https://jrodp.files.wordpress.com/2014/04/logo-ipn-blanco.png' alt='...')
            .col-xs-12.col-sm-10
                .card-body
                h5.card-title.readable 
                    | #{level.institute} 
                    .d-none.d-sm-inline.ms-3.badge.badgePeriod.text-dark
                        | #{level.from} - 
                        if level.to
                            | #{level.to}
                p.card-text
                    | #{level.name}
                p.d-block.d-sm-none.text-muted.bg-secondary.p-2
                    | #{level.from} - 
                    if level.to
                        | #{level.to}
