extends layout
block append css 
 link(rel='stylesheet', href='/stylesheets/error/error-cover.css')
block content
  .cover-container.d-flex.w-100.h-100.p-1.m-auto.flex-column.pt-4
    main.px-2.pt-3.text-center
      // ERROR 404
      if message == "Not Found"
        h1.pt-4= error.status 
          | : Recurso no disponible
        p.lead.align-middle 
          | Parece que no hemos podido encontrar el recurso que buscabas.
      else
        // ERRORES POR AHORA EXISTENTES
        h1.pt-4= error.status 
          | #{message}
      a.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(href='/') 
        i.fas.fa-chevron-left 
        |  Volver al Inicio
    p.lead
      unless error.stack
        pre #{error.stack}
      
