extends layout
block append mixins
  include includes/mixins/jobs/timelineCard.pug

block content
  .container-fluid
        .row.ch-100
          // BARRA LATERAL
          .d-none.d-lg-inline.col.col-3.col-xl-2.p-0.text-break
            include includes/index/sideInfo.pug
          // NAV TOP
          .col.col-12.col-lg-9.col-xl-10.p-0
            include includes/generic/nav.pug
            // HEADER CON IMAGEN
            #main
              include includes/index/header.pug
            // CUERPO
            .container-fluid.pb-sm-0.p-4.d-block.d-lg-none
              include includes/index/personalinfo.pug    
            .cointainer-fluid
              #profesional-profile.p-0.px-4.py-2.d-md-block.text-black.p-sm-4.px-2
                each row in user.mainBeliefs
                  if row
                    p.p-0.fs-5 #{row}. 
                .text-center
                  each principle in user.principles
                      .badge.me-1.fs-6.py-2.rounded-pill.bg-dark #{principle} 
            #education.cointainer-fluid.px-4.pt-3
                include includes/index/education.pug   

            #techContainer.container-fluid
              include includes/index/technologies.pug 

            .cointainer-fluid.p-4   
              #employment-history.pt-3.mb-3
                h2 Timeline
                p.lead
                    | Puede encontrar una descripción a detalle en mi 
                    a(target='_blank' rel='noopener' href="https://www.linkedin.com/in/gybranperez/")
                      i.fab.fa-linkedin
                //-
                  .d-sm-inline.ms-3.badge.badgePeriod.text-dark
                    span.d-inline-block(tabindex='0' data-bs-toggle='popover' data-bs-trigger='hover focus' data-bs-content='Disabled popover')
                      a.badgePeriod.text-dark(target='_blank' rel='noopener' href="/jobs")
                        i.fas.fa-info-circle
                  //
            #chartdiv.mb-4.d-none.d-sm-block
                
            .container-fluid.p-4
              include includes/index/timelineCondensed.pug 
              #About 
            include includes/generic/footer.pug
  
block append js 
  // Resources
  script(type='text/javascript', src='/js/amcharts4/core.js')
  script(type='text/javascript', src='/js/amcharts4/charts.js')
  
  script(type='text/javascript', src='/js/amcharts4/plugins/timeline.js')
  
  
  script(type='text/javascript', src='/js/amcharts4/themes/animated.js')
  script(type='text/javascript', src='/js/amcharts4/themes/dark.js')
  
  script(type='text/javascript',src="/js/index/timeline-jobs-chart.js")
  script(type='text/javascript').
    am4core.ready(function() {
      createGraph(!{JSON.stringify(history)});
    });
    var popover = new bootstrap.Popover(document.querySelector('.infoWork'), {
      trigger: 'focus'
    });

    
    