extends layout
block content
    include includes/generic/nav
    .container.p-0.p-md-1
        #chartdiv.px-0.px-sm-1.px-md-4
    include includes/generic/simple-footer

block append js 
  // Resources
  script(type='text/javascript', src='/js/amcharts4/core.js')
  script(type='text/javascript', src='/js/amcharts4/charts.js')
  
  script(type='text/javascript', src='/js/amcharts4/maps.js')
  
  script(type='text/javascript', src='/js/amcharts4/geodata/worldLow.js')
  script(type='text/javascript', src='/js/amcharts4/themes/animated.js')
  script(type='text/javascript', src='/js/amcharts4/themes/dark.js')

  script(type='text/javascript',src="/js/interests/map-chart.js")