doctype html
html
  head
    if user
      if user.nickname
        - var u = user.nickname
        title= title 
          |  | #{u}
    else
      title= title     
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap-darkly.min.css')
      
      link(rel='stylesheet', href='/font-icons/css/all.min.css')
      script(defer, src="/font-icons/js/all.min.js")

      link(href='https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap' rel='stylesheet')
      
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    
  body
    block mixins
      include includes/mixins/main.pug
      
    block content
    
    block js
      script(type='text/javascript',src="/bootstrap/js/bootstrap.min.js")
      script(type='text/javascript',src="/popper/popper.min.js")
      
    
    
    