mixin daterange(start, end)
  span.me-2 #{start.getMonth()}/#{start.getFullYear()} 
  | -
  span.ms-2
  if end != "Current"
    | #{end.getMonth()}/#{end.getFullYear()}
  else 
    | #{end}

mixin ageBadge(bday)
  -var birthday = new Date(user.bday)
  -var current = new Date(Date.now())
  -var diff = current.getFullYear() - birthday.getFullYear()
  .col-12
    span.fw-bold.text-start 
        | #{diff} years old
    p.text-break.text-center.text-break(style="font-size: .8em") #{birthday.getFullYear()} - #{current.getFullYear()}
mixin link(href, name)
  a(class!=attributes.class rel!=attributes.rel target!=attributes.target href=href)= name

mixin period(start, end)
  div(class!=attributes.class)= start + " - " + end

mixin language(lang)
  span.w-xs-100.me-1.mb-0.text-center.d-block.d-xl-inline
    | #{lang.name} 
    - for (let i = 1; i <= lang.rating; i++)
        i.me-1.text-success.fas.fa-circle
    - for (let i = lang.rating; i < 5; i++)
        i.far.fa-circle
