extends ../layout
block content
    include ../includes/generic/nav
    .container.pb-2
        .pt-5.text-center
            h2 Enviar Email
            p.lead
                | Buen día 
                span 
                | , estaré feliz de recibir tu mensaje.
        .row.g-5.p-0.m-0
            .offset-1.col-10.my-0
                form.needs-validation(method='POST' action="/email/send" role="form")
                .row.g-3
                    .col-6
                        .form-floating.mb-3
                            input#nombre.form-control(type='text' required='' placeholder='nombre')
                            label(for='nombre') Nombre
                    .col-6
                        .form-floating.mb-3
                            input#correo.form-control(type='email' required='' placeholder='name@example.com')
                            label(for='correo') Correo
                    .col-12
                        .form-floating.mb-3
                            input#asunto.form-control(type='text' required='' placeholder='asunto')
                            label(for='asunto') Asunto
                    .col-12
                        .form-floating
                            textarea#mensaje.form-control(placeholder='Leave a comment here' style='height: 100px')
                            label(for='mensaje') Mensaje
                      
                    button.btn.btn-primary.btn-md.align-self-end(type='submit') Enviar
        .container.p-4
            .col.col-12
                include ../includes/generic/simple-footer
