footer.container.py-5
    .row
        .col-12.col-md
            
            small.d-block.mb-3.text-muted &copy; Resume - Gybrán Pérez 2021
    //-            
        .col-6.col-md
            h5 Interests
            ul.list-unstyled.text-small
            li
                a.link-light(href='#') Business
            li
                a.link-light(href='#') Education
            li
                a.link-light(href='#') Government
            li
                a.link-light(href='#') Gaming
        .col-6.col-md
            h5 About
            ul.list-unstyled.text-small
            li
                a.link-light(href='#') Team
            li
                a.link-light(href='#') Locations
            li
                a.link-light(href='#') Privacy
            li
                a.link-light(href='#') Terms
        //