nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top.pl-2
  .container
    a.navbar-brand.rocksalt(href='/#main') Gybrán Pérez
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/#education") Education
        li.nav-item.ml-2
          a.nav-link(href='/#techContainer') Technologies
        li.nav-item
          a.nav-link(href="/#employment-history") Experience
        li.nav-item
      //-
          a.nav-link(href="/Interests") Interests
        li.nav-item
          a.nav-link(href="/email/send")
            i.fs-4.fas.fa-envelope
        //
      if user
        .navbar-nav.d-block.w-sm-100.d-md-inline.ms-md-auto(role='group' aria-label='Basic example')
          if user.linktree
            button.btn.btn-primary.d-inline      
                a.nav-link(target='_blank' rel='noopener' href=user.linktree)
                  i.fab.fa-connectdevelop
          else 
            button.btn.btn-primary.d-inline
              a.nav-link(target='_blank' rel='noopener' href="https://linktr.ee/gybranperez")
                i.fab.fa-connectdevelop
                .d-inline.ms-1.d-sm-none Redes