

#generic-header.bg-image
  .mask.py-3
    .d-flex.justify-content-center.align-items-center.h-100
        .col-md-8.mt-0.mx-auto.my-2.my-md-5.text-center
            .offset-4.col-4.p-0.d-block.d-md-none
                    img.img-responsive.w-100.rounded-circle.pt-3.px-1(src='/images/avatar.jpg' alt='...')
            if user.occupation
              h1.display-4.fw-bold.d-none.d-sm-block= user.occupation
            if user.jobShortDescription
              p.lead.fw-normal.d-none.d-md-block= user.jobShortDescription
            