.row 
    .col.col-12.col-sm-5.col-md-4
        if user.email
            p.text-center.text-sm-start.text-break.p-0-m-0.mb-0.align-bottom
                i.fas.fa-envelope
                span.ms-2= user.email
    .col.col-12.col-sm-3.col-md-4
        if user.location
            p.text-center.text-break 
                i.fas.fa-map-marker
                span.ms-2= user.location
    .col.text-center.text-sm-end.col-12.col-sm-4
        if user.phone
            p.text-break
                i.fab.fa-whatsapp        
                span.ms-2= user.phone
if user.languages
    .row
        .col.col-12.col-sm-2
            p.fw-bold.text-center.text-sm-start.text-break Idiomas:
        .col.col-12.col-sm-10.offset-lg-0.text-center.text-sm-start
            each lang in user.languages
                +language(lang)