.container-fluid.p-0.sticky-top.ch-100.p-2.bg-dark.text-center
    if user
        .d-block.h-25.text-white.p-1
            img.img-responsive.mw-100.rounded-circle.mh-100(src='/images/avatar.jpg' alt='...')
        .d-block.text-white.mt-2
            p.mb-0.fw-bold.border-bottom.border-info Contact
            
            span.text-break(style="font-size: .8em")= user.email
            br
            span.text-break= user.phone
        .d-block.text-white.mb-3
            p.mt-3.fw-bold.border-bottom.border-info General Information
            +ageBadge(user.bday)
            .col-12.mt-3.pt-2.border-top.border-secondary.border-4
                span.fw-bold.mb-0.text-center.text-start= user.location
                p.text-break.text-center.text-break(style="font-size: .8em") Location
            .col-12.mt-3.pt-2.border-top.border-secondary.border-4
                each lang in user.languages
                    +language(lang)
//-
    .d-block.text-white.w-100.text-center.bg-secondary
        span.mb-0.fw-bold.text-start JUN 2021
        p.text-break(style="font-size: .8em") Last Update
    //