block append css
    link(rel='stylesheet', href='/stylesheets/technologies.css')



h2 Tecnologías
p.lead
    | He tenido la oportunidad de probar y utilizar varias tecnologías, 
    | las cuales se listan a continuación 
if technologies
    .table-responsive
        table.table.table-striped.table-hover
            thead
                tr.bg-primary.text-white
                    each val, key in technologies[0]
                        th(scope='col')= key
            tbody
                each tech in technologies
                    tr
                        th(scope='row')= tech.category
                        td
                            each logo in tech.list
                                - var len = tech.list.length - 1
                                |  #{logo} 
                                if logo != tech.list[len]
                                        |  ,