
if technologies
    .table-responsive
        table.table.table-striped.table-hover.table-responsive
            thead
                tr.bg-primary.text-white
                    th(scope='col') Name
                    th.d-none.d-md-table-cell(scope='col') Category
                    th(scope='col') Job
                    th(scope='col') Period
                //-
                    th(scope='col') Detail
                    //
            tbody
                each job in history
                    tr
                        th(scope='row')= job.title
                        td.d-none.d-md-table-cell(scope='row')= job.category 
                        th(scope='col')
                            each pos in job.jobs 
                                - var len = job.jobs.length - 1
                                |  #{pos} 
                                if pos != job.jobs[len]
                                        |  ,
                        td(scope='row')
                            +daterange(job.start,job.end)  
                    //-
                        td(scope='row')
                            +link("/jobs/" + job.id , "detail")(class="a ver que pasa" rel="noopener" target="_blank")
                        //
