mixin jobCard(job)
  .col(id=job.id)
    .card
      // img.card-img-top(src='...' alt='...')
      .card-body
          .d-block
            .badge.badgePeriod.text-dark.float-end
              +daterange(job.start,job.end)
            if job.title
              h5.card-title.fw-bold
                | #{job.title}
                
          p.card-text
            if job.description
              #{job.description}
            else 
              | N/A
